
.upload-section{
    margin-top: 5%;
    background: #c5f0f7;
    padding: 3% 10%;

    border-radius: 50px 1px;
}

h3.upload-title{
    color: black !important;
}

h2{
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 0% !important;
}

#upload-bird{
    width: 5%;
    margin-bottom: 2%;
}

.functions{
    margin-top: 5%;
}


.upload-card{
    background: #8FD6E1 !important;
}


.drag-area{
    margin-left: 25%;
    border: 2px dashed #fff;
    height: 200px;
    width: 500px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .drag-area.active{
    border: 2px solid #fff;
  }
  .drag-area .icon{
    font-size: 100px;
    color: #fff;
  }
  .drag-area header{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
  }
  .drag-area span{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
  }
  .drag-area button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
  }
  .drag-area img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }