.App {
  text-align: center;
  margin: 5% 3% !important;
  border-radius: 20% !important;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {  /* entire navabr */
  margin: 0% 0% 5% !important; 
  padding: 5%;
}

.css-19r6kue-MuiContainer-root{  /* navbar content */
}
