
a#logo-a{
    font-family: 'Righteous', cursive;
    font-size: x-large;
}

.uk-section-primary{
    background: #8FD6E1;
    /* margin: 0% 5%; */
}

.margin-top{
    margin-top: 5%;
}

.margin-bottom{
    margin-bottom: 5% !important;
}

.margin-left{
    margin-left: 5%;
}

@media (max-width: 725px) {
    .margin-left{
        margin-left: 0%;
    }

    .uk-active{
        margin-right: 20px;
    }
}


@media (min-width: 1200px){
 .uk-card-body {
    padding: 20px 40px;
 }
}

@media (max-width: 374px) {

    .uk-active{
        margin-right: 5%;
    }

    #logo-a img{
        width: 30%;
    }
    #register-button{
        padding-left: 20% !important;
    }
}

.disable-padding{
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.uk-navbar-nav>li>a {
    text-transform: none;
}